* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6 {
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
}
html, body, #root {
    height: 100%;
    font-family: Arial, Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
    font-size: 18px;
}
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    width: 100%;
    overflow: hidden;
}
._container {
    max-width: 960px;
    margin: 0 auto;
}
.page {
    flex: 1 1 auto;
}

@import url(./header.scss);
@import url(./footer.scss);
@import url(./todoinput.scss);
@import url(./sortBy.scss);
@import url(./todolist.scss);